<!DOCTYPE html>
<html>
    <head>
        <title>Skills</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Skills</h1>
        <ul>
        <% skills.forEach( (skill) => { %>
            <li>
            <%= skill.name %>
                - 
            <%= skill. id%>
            </li>
        <% }); %>
        </ul>
    </body>
  <html>