<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>skill id</title>
  <style>
    body {
      padding : 0 auto;
      background-color: #E3D050;
    }
    h1 {
            font-size: 60px;
            font-weight: bold;
            color: #92825D;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
    h2{
      font-family: Verdana, sans-serif; 
      color: #D87C1D;
    }
  </style>
</head>
<body>
  <h1><%= skill.name %></h1>
  <h2>description:<%= skill.description %></h2>
  <h2>note: <%= skill.note  %></h2>
</body>
</html>